<div class="container">
  <div *ngIf="listaColaboradores.length > 0">
    <div class="row">
      <h2><b>Lista de Colaboradores:</b></h2>
    </div>  
    <table class="table table-borderless">
      <thead>
        <tr class="bg-primary">
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Cargo</th>
          <th scope="col">Salário</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>  
        <tr class="table-secondary" *ngFor="let colaborador of listaColaboradores, let i = index">
          <td>{{colaborador.nome}}</td>
          <td>{{colaborador.idade}}</td>
          <td>{{colaborador.cargo}}</td>
          <td>{{colaborador.salario}}</td>
          <td>
            <a routerLink="edit" (click)="selecionado(colaborador)">
              <i class="fas fa-user-edit"></i>
            </a>  
          </td>
          <td>
            <a (click)="delColaborador(i)">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>  
    </table>
    <div class="text-center">
      <a routerLink="add">
        <i class="fas fa-user-plus"></i>
        <p>Adicionar colaborador.</p>    
      </a>
    </div>  
  </div>  
  <div *ngIf="listaColaboradores.length == 0">
    <h2><b>Aviso:</b></h2>
    <div class="alert alert-danger" role="alert">
        Sua lista de colaboradores está vazia!
      </div>
    <div class="text-center">
      <a routerLink="add">
        <i class="fas fa-user-plus"></i>
        <p>Adicionar colaborador.</p>    
      </a>
    </div> 
  </div>
</div>  