<head>
  <style>
  </style>
</head>
<div class='container'>
  <div class='row text-center'>
    <a routerLink="listaColaboradores" class="col-sm-6">
      <img src="../../assets/listaFuncionarios.jpg" style="padding-bottom:  8px; width: 220px; height: 200px;">
      <h3>Lista de colaboradores</h3>
      <p class="text-center"> Adicione, exclua e edite seus colaboradores. </p>
    </a> 
    <a routerLink="gerenciamento" class="col-sm-6">
      <img src="../../assets/perfilFuncionarios.png" style="padding-bottom:  8px; width: 220px; height: 200px;">
      <h3>Gerenciamento de colaboradores</h3>
      <p class="text-center">Gerencie as informações de seus colaboradores. </p>
    </a>  
  </div>  
</div>